In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
regular_season_results_df = pd.read_csv('data/regular_season_results.csv')
regular_season_results_df

In [ ]:
tourney_seeds_df = pd.read_csv('data/tourney_seeds.csv')
tourney_seeds_df

In [ ]:
tourney_slots_df = pd.read_csv('data/tourney_slots.csv')
tourney_slots_df

In [ ]:
merge_df = regular_season_results_df[['season', 'wteam', 'lteam']]
merge_df = merge_df.merge(tourney_seeds_df, left_on=['season', 'wteam'], right_on=['season', 'team'])
merge_df = merge_df.merge(tourney_seeds_df, left_on=['season', 'lteam'], right_on=['season', 'team'])
merge_df = merge_df[['season', 'wteam', 'seed_x', 'lteam', 'seed_y']]
merge_df = merge_df.rename(columns={'seed_x': 'wseed', 'seed_y': 'lseed'})
merge_df['wseed'] = merge_df['wseed'].str[1:]
merge_df['lseed'] = merge_df['lseed'].str[1:]

In [ ]:
merge_df['vs'] = merge_df['wseed'] + '-' + merge_df['lseed']
merge_df

In [ ]:
higher_seed_won_df: pd.DataFrame = merge_df.loc[
    (merge_df['vs'] == '16-01') | (merge_df['vs'] == '15-02') | (merge_df['vs'] == '14-03') | (
                merge_df['vs'] == '13-04') | (merge_df['vs'] == '12-05') | (merge_df['vs'] == '11-06') | (
                merge_df['vs'] == '10-07') | (merge_df['vs'] == '09-08')
    ][['wseed', 'season']]

higher_seed_won_df

In [ ]:
higher_seed_lost_df = merge_df.loc[
    (merge_df['vs'] == '01-16') | (merge_df['vs'] == '02-15') | (merge_df['vs'] == '03-14') | (
                merge_df['vs'] == '04-13') | (merge_df['vs'] == '05-12') | (merge_df['vs'] == '06-11') | (
                merge_df['vs'] == '07-10') | (merge_df['vs'] == '08-09')
    ][['lseed', 'season']]

higher_seed_lost_df

In [ ]:
won_dict = higher_seed_won_df.groupby('wseed').count().to_dict().pop('season')

In [ ]:
lost_dict = higher_seed_lost_df.groupby('lseed').count().to_dict().pop('season')

In [ ]:
sum_dict = {i: 0 for i in lost_dict}

In [ ]:
for key in sum_dict:
    if key in won_dict:
        sum_dict[key] += won_dict[key]
    else:
        won_dict[key] = 0

    if key in lost_dict:
        sum_dict[key] += lost_dict[key]

In [ ]:
sum_dict

In [ ]:
percentage_dict = {i: won_dict[i] / sum_dict[i] for i in sum_dict}

In [ ]:
percentage_dict

In [ ]:
x_axis = list(reversed(percentage_dict.keys()))
x_axis = [f'{int(i)}-{16 - int(i) + 1}' for i in x_axis]
y_axis = list(reversed(percentage_dict.values()))

In [ ]:
plt.plot(x_axis, y_axis)
plt.xlabel('Seeds playing together')
plt.ylabel('Percentage of the higher seed winning')
plt.show()

START

In [3]:
regular_season_df = pd.read_csv('data/regular_season_detailed_results.csv')
tourney_df = pd.read_csv('data/tourney_detailed_results.csv')

In [4]:
data_df: pd.DataFrame = regular_season_df.loc[
    (regular_season_df['season'] == 2011) | (regular_season_df['season'] == 2012) | (
                regular_season_df['season'] == 2013) | (regular_season_df['season'] == 2014)
    ].reset_index(drop=True)

data_2015_df = pd.read_csv('data/regular_season_detailed_results_2015.csv')

data_df = pd.concat([data_df, tourney_df.loc[
    (tourney_df['season'] == 2011) |\
    (tourney_df['season'] == 2012) |\
    (tourney_df['season'] == 2013)
], data_2015_df])

data_df['count_column'] = 1

In [5]:
data_df

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf,count_column
0,2011,7,1228,79,1414,65,H,0,29,58,...,14,22,11,26,12,14,7,1,21,1
1,2011,7,1268,105,1370,76,H,0,35,62,...,17,22,18,16,11,27,18,1,31,1
2,2011,7,1338,83,1348,75,H,0,29,64,...,13,16,10,21,16,17,7,6,25,1
3,2011,7,1400,83,1298,52,H,0,30,59,...,10,18,8,22,8,16,5,5,24,1
4,2011,9,1228,84,1405,45,H,0,37,64,...,10,19,6,17,9,23,6,0,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5349,2015,132,1209,38,1204,36,N,0,15,46,...,9,13,14,20,7,8,4,5,11,1
5350,2015,132,1246,78,1116,63,N,0,25,49,...,11,17,9,11,5,12,4,3,22,1
5351,2015,132,1374,62,1163,54,N,0,18,51,...,16,21,4,18,6,7,1,7,22,1
5352,2015,132,1433,71,1173,65,N,0,24,56,...,21,27,8,22,10,10,11,2,16,1
5353,2015,132,1458,80,1277,69,N,1,25,52,...,9,9,6,23,16,13,3,2,17,1

TAKE 1

In [6]:
all_teams_df = pd.concat([data_df[['season', 'wteam']].rename(columns={'wteam': 'team'}), data_df[['season', 'lteam']].rename(columns={'lteam': 'team'})]).drop_duplicates()
#all_teams_df = all_teams_df.rename(columns={0: 'team'})
all_teams_df = all_teams_df.sort_values(by=['team'])
all_teams_df = all_teams_df.reset_index(drop=True)
all_teams_df

      season  team
0       2014  1101
1       2015  1101
2       2015  1102
3       2013  1102
4       2014  1102
...      ...   ...
1734    2013  1464
1735    2015  1464
1736    2012  1464
1737    2014  1464
1738    2011  1464

[1739 rows x 2 columns]

In [7]:
all_teams_df = (
    all_teams_df
    .merge(data_df[['season', 'count_column', 'wteam', 'wfgm', 'wfga', 'wstl', 'wblk', 'wscore']], left_on=['season', 'team'], right_on=['season', 'wteam'])[['season', 'count_column', 'team', 'wfgm', 'wfga', 'wstl', 'wblk', 'wscore']]
    .groupby(['season', 'team'])
    .sum()
    .rename(columns={'count_column': 'win_count'})
    .reset_index()
)
all_teams_df

      season  team  win_count  wfgm  wfga  wstl  wblk  wscore
0       2011  1102         14   339   673   101    47     994
1       2011  1103         22   561  1237   159    83    1625
2       2011  1104         21   545  1199   214   127    1468
3       2011  1105         10   236   558    82    66     682
4       2011  1106         15   341   775   118    82    1040
...      ...   ...        ...   ...   ...   ...   ...     ...
1731    2015  1460          9   226   458    43    22     635
1732    2015  1461         23   514  1047   133    71    1519
1733    2015  1462         21   556  1105   136    66    1586
1734    2015  1463         20   445   979   127    81    1353
1735    2015  1464          8   221   424    48    16     629

[1736 rows x 8 columns]

In [8]:
all_teams_df = (
    all_teams_df.copy()
    .merge(data_df[['season', 'count_column', 'lteam', 'lfgm', 'lfga', 'lstl', 'lblk', 'lscore']], left_on=['season', 'team'], right_on=['season', 'lteam'])[['season', 'count_column', 'team', 'win_count', 'wfgm', 'wfga', 'wstl', 'wblk', 'wscore', 'lfgm', 'lfga', 'lstl', 'lblk', 'lscore']]
    .groupby(['season', 'team', 'win_count', 'wfgm', 'wfga', 'wstl', 'wblk', 'wscore'])
    .sum()
    .rename(columns={'count_column': 'loss_count'})
    .reset_index()
)

all_teams_df

,season,team,win_count,wfgm,wfga,wstl,wblk,wscore,loss_count,lfgm,lfga,lstl,lblk,lscore
0,2011,1102,14,339,673,101,47,994,14,289,667,73,24,805
1,2011,1103,22,561,1237,159,83,1625,13,298,772,66,37,810
2,2011,1104,21,545,1199,214,127,1468,11,251,590,82,40,665
3,2011,1105,10,236,558,82,66,682,15,318,837,132,66,888
4,2011,1106,15,341,775,118,82,1040,18,350,969,122,67,991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,2015,1460,9,226,458,43,22,635,20,435,1054,110,51,1197
1730,2015,1461,23,514,1047,133,71,1519,9,160,428,44,21,447
1731,2015,1462,21,556,1105,136,66,1586,13,329,766,71,31,915
1732,2015,1463,20,445,979,127,81,1353,10,218,546,43,32,612
1733,2015,1464,8,221,424,48,16,629,21,505,1219,123,40,1425

In [9]:
all_teams_df['fgm'] = all_teams_df['wfgm'] + all_teams_df['lfgm']
all_teams_df['fga'] = all_teams_df['wfga'] + all_teams_df['lfga']
all_teams_df['fgp'] = all_teams_df['fgm'] / all_teams_df['fga']
all_teams_df['stl'] = all_teams_df['wstl'] + all_teams_df['lstl']
all_teams_df['blk'] = all_teams_df['wblk'] + all_teams_df['lblk']
all_teams_df['points'] = all_teams_df['wscore'] + all_teams_df['lscore']
all_teams_df['mean_points'] = all_teams_df['points'].mean()
all_teams_df['win_percent'] = all_teams_df['win_count'] / (all_teams_df['win_count'] + all_teams_df['loss_count'])

In [10]:
all_teams_df = all_teams_df[['season', 'team', 'win_percent', 'win_count', 'loss_count', 'stl', 'blk', 'points', 'mean_points', 'fgp']]

In [11]:
opponents_df = pd.concat([
    all_teams_df.merge(data_df, left_on=['season', 'team'], right_on=['season', 'wteam'])[['season', 'team', 'lteam']].rename(columns={'lteam': 'opponents'}),
    all_teams_df.merge(data_df, left_on=['season', 'team'], right_on=['season', 'lteam'])[['season', 'team', 'wteam']].rename(columns={'wteam': 'opponents'})
]).drop_duplicates().groupby(['season', 'team']).agg(list)

opponents_df

                                                     opponents
season team
2011   1102  [1398, 1459, 1169, 1191, 1300, 1115, 1358, 119...
       1103  [1464, 1178, 1227, 1126, 1114, 1391, 1115, 133...
       1104  [1197, 1407, 1105, 1375, 1368, 1252, 1337, 140...
       1105  [1212, 1290, 1106, 1108, 1380, 1341, 1115, 144...
       1106  [1244, 1212, 1115, 1108, 1290, 1105, 1380, 134...
...                                                        ...
2015   1460  [1125, 1149, 1367, 1275, 1441, 1178, 1464, 113...
       1461  [1294, 1160, 1197, 1391, 1308, 1176, 1286, 138...
       1462  [1319, 1253, 1372, 1293, 1360, 1104, 1237, 128...
       1463  [1227, 1356, 1245, 1248, 1216, 1136, 1163, 143...
       1464  [1255, 1422, 1282, 1352, 1377, 1297, 1227, 146...

[1734 rows x 1 columns]

In [12]:
all_teams_df = all_teams_df.merge(opponents_df, on=['season', 'team'])
all_teams_df

,season,team,win_percent,win_count,loss_count,stl,blk,points,mean_points,fgp,opponents
0,2011,1102,0.500000,14,14,174,71,1799,2090.219723,0.468657,"[1398, 1459, 1169, 1191, 1300, 1115, 1358, 119..."
1,2011,1103,0.628571,22,13,225,120,2435,2090.219723,0.427576,"[1464, 1178, 1227, 1126, 1114, 1391, 1115, 133..."
2,2011,1104,0.656250,21,11,296,167,2133,2090.219723,0.444941,"[1197, 1407, 1105, 1375, 1368, 1252, 1337, 140..."
3,2011,1105,0.400000,10,15,214,132,1570,2090.219723,0.397133,"[1212, 1290, 1106, 1108, 1380, 1341, 1115, 144..."
4,2011,1106,0.454545,15,18,240,149,2031,2090.219723,0.396216,"[1244, 1212, 1115, 1108, 1290, 1105, 1380, 134..."
...,...,...,...,...,...,...,...,...,...,...,...
1729,2015,1460,0.310345,9,20,153,73,1832,2090.219723,0.437169,"[1125, 1149, 1367, 1275, 1441, 1178, 1464, 113..."
1730,2015,1461,0.718750,23,9,177,92,1966,2090.219723,0.456949,"[1294, 1160, 1197, 1391, 1308, 1176, 1286, 138..."
1731,2015,1462,0.617647,21,13,207,97,2501,2090.219723,0.473009,"[1319, 1253, 1372, 1293, 1360, 1104, 1237, 128..."
1732,2015,1463,0.666667,20,10,170,113,1965,2090.219723,0.434754,"[1227, 1356, 1245, 1248, 1216, 1136, 1163, 143..."
1733,2015,1464,0.275862,8,21,171,56,2054,2090.219723,0.441875,"[1255, 1422, 1282, 1352, 1377, 1297, 1227, 146..."

In [13]:
def calculate_opponents_win_percentage(opponents: list[int]) -> float:
    o_df = pd.DataFrame(opponents, columns=['opponent_team'])

    tmp_df = o_df.merge(all_teams_df, left_on='opponent_team', right_on='team')

    total_wins = tmp_df['win_count'].sum()
    total_losses = tmp_df['loss_count'].sum()

    return total_wins / (total_wins + total_losses)

Formula za RPI: https://www.nbastuffer.com/analytics101/relative-percentage-index-rpi/

In [14]:
def calculate_rpi(row: pd.Series) -> pd.Series:
    op = calculate_opponents_win_percentage(row['opponents'])

    o_df = pd.DataFrame(row['opponents'], columns=['opponent_team'])
    tmp_df = o_df.merge(all_teams_df, left_on='opponent_team', right_on='team')

    tmp_list = tmp_df['opponents'].tolist()
    oop_list = []
    for i in tmp_list:
        oop_list += i

    oop = calculate_opponents_win_percentage(oop_list)

    row['rpi'] = (2 * op + oop) / 3 * 1000

    return row

In [15]:
def calculate_bpi(row: pd.Series) -> pd.Series:
    win_count = row['win_count']
    loss_count = row['loss_count']
    total_count = win_count + loss_count

    points = row['points']
    mean_points = row['mean_points']

    row['bpi'] = (win_count / total_count) * (points - mean_points) / total_count

    return row

In [16]:
all_teams_df = all_teams_df.apply(calculate_rpi, axis=1)
all_teams_df = all_teams_df.apply(calculate_bpi, axis=1)
all_teams_df

,season,team,win_percent,win_count,loss_count,stl,blk,points,mean_points,fgp,opponents,rpi,bpi
0,2011,1102,0.500000,14,14,174,71,1799,2090.219723,0.468657,"[1398, 1459, 1169, 1191, 1300, 1115, 1358, 119...",526.886846,-5.200352
1,2011,1103,0.628571,22,13,225,120,2435,2090.219723,0.427576,"[1464, 1178, 1227, 1126, 1114, 1391, 1115, 133...",505.706237,6.191972
2,2011,1104,0.656250,21,11,296,167,2133,2090.219723,0.444941,"[1197, 1407, 1105, 1375, 1368, 1252, 1337, 140...",515.855444,0.877330
3,2011,1105,0.400000,10,15,214,132,1570,2090.219723,0.397133,"[1212, 1290, 1106, 1108, 1380, 1341, 1115, 144...",472.210051,-8.323516
4,2011,1106,0.454545,15,18,240,149,2031,2090.219723,0.396216,"[1244, 1212, 1115, 1108, 1290, 1105, 1380, 134...",463.195991,-0.815699
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,2015,1460,0.310345,9,20,153,73,1832,2090.219723,0.437169,"[1125, 1149, 1367, 1275, 1441, 1178, 1464, 113...",513.279306,-2.763350
1730,2015,1461,0.718750,23,9,177,92,1966,2090.219723,0.456949,"[1294, 1160, 1197, 1391, 1308, 1176, 1286, 138...",527.956970,-2.790091
1731,2015,1462,0.617647,21,13,207,97,2501,2090.219723,0.473009,"[1319, 1253, 1372, 1293, 1360, 1104, 1237, 128...",560.588169,7.462271
1732,2015,1463,0.666667,20,10,170,113,1965,2090.219723,0.434754,"[1227, 1356, 1245, 1248, 1216, 1136, 1163, 143...",506.971571,-2.782661
1733,2015,1464,0.275862,8,21,171,56,2054,2090.219723,0.441875,"[1255, 1422, 1282, 1352, 1377, 1297, 1227, 146...",473.004944,-0.344540

In [17]:
data_enriched_df = data_df.merge(all_teams_df, left_on=['season', 'wteam'], right_on=['season', 'team'])
data_enriched_df = data_enriched_df.rename(columns={i: f'w{i}' for i in all_teams_df if i not in ['team', 'win_count', 'loss_count', 'opponents', 'mean_points']})
data_enriched_df.pop('team')
data_enriched_df.pop('count_column')

data_enriched_df

,wseason,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,win_count,loss_count,wstl,wblk,wpoints,mean_points,wfgp,opponents,wrpi,wbpi
0,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,188,152,2413,2090.219723,0.468063,"[1414, 1405, 1356, 1268, 1463, 1444, 1314, 121...",585.064307,5.584434
1,2011,9,1228,84,1405,45,H,0,37,64,...,20,14,188,152,2413,2090.219723,0.468063,"[1414, 1405, 1356, 1268, 1463, 1444, 1314, 121...",585.064307,5.584434
2,2011,12,1228,85,1356,63,H,0,32,58,...,20,14,188,152,2413,2090.219723,0.468063,"[1414, 1405, 1356, 1268, 1463, 1444, 1314, 121...",585.064307,5.584434
3,2011,18,1228,80,1268,76,N,0,28,60,...,20,14,188,152,2413,2090.219723,0.468063,"[1414, 1405, 1356, 1268, 1463, 1444, 1314, 121...",585.064307,5.584434
4,2011,22,1228,73,1463,47,H,0,31,63,...,20,14,188,152,2413,2090.219723,0.468063,"[1414, 1405, 1356, 1268, 1463, 1444, 1314, 121...",585.064307,5.584434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26664,2015,127,1164,64,1126,60,N,0,20,53,...,7,23,199,99,2116,2090.219723,0.393692,"[1197, 1299, 1288, 1354, 1175, 1126, 1332, 122...",486.651127,0.200513
26665,2015,96,1146,70,1309,67,H,0,24,48,...,2,27,182,114,1894,2090.219723,0.423885,"[1309, 1368, 1166, 1303, 1304, 1369, 1149, 111...",475.945906,-0.466634
26666,2015,117,1146,74,1368,72,H,0,23,49,...,2,27,182,114,1894,2090.219723,0.423885,"[1309, 1368, 1166, 1303, 1304, 1369, 1149, 111...",475.945906,-0.466634
26667,2015,103,1197,57,1299,50,H,0,19,49,...,2,27,143,62,1607,2090.219723,0.373333,"[1299, 1366, 1155, 1367, 1360, 1213, 1461, 130...",446.557842,-1.149155
26668,2015,122,1197,64,1366,57,H,0,22,43,...,2,27,143,62,1607,2090.219723,0.373333,"[1299, 1366, 1155, 1367, 1360, 1213, 1461, 130...",446.557842,-1.149155

In [18]:
data_enriched_df = data_df.merge(all_teams_df, left_on=['season', 'wteam'], right_on=['season', 'team'])
data_enriched_df = data_enriched_df.rename(columns={i: f'w{i}' for i in all_teams_df if i not in ['team', 'win_count', 'loss_count', 'opponents', 'mean_points', 'season']})
data_enriched_df.pop('team')
data_enriched_df.pop('count_column')

data_enriched_df = data_enriched_df.merge(all_teams_df, left_on=['season', 'lteam'], right_on=['season', 'team'])
data_enriched_df = data_enriched_df.rename(columns={i: f'l{i}' for i in all_teams_df if i not in ['team', 'win_count', 'loss_count', 'opponents', 'mean_points', 'season']})
data_enriched_df.pop('team')

data_enriched_df = data_enriched_df[['season', 'wteam', 'lteam', 'wscore', 'lscore'] + [f'w{i}' for i in all_teams_df if i not in ['team', 'win_count', 'loss_count', 'opponents', 'mean_points', 'season']] + [f'l{i}' for i in all_teams_df if i not in ['team', 'win_count', 'loss_count', 'opponents', 'mean_points', 'season']]]

data_enriched_df['wstl'] = data_enriched_df.pop('wstl').loc[:, [False, True]]
data_enriched_df['lstl'] = data_enriched_df.pop('lstl').loc[:, [False, True]]
data_enriched_df['wblk'] = data_enriched_df.pop('wblk').loc[:, [False, True]]
data_enriched_df['lblk'] = data_enriched_df.pop('lblk').loc[:, [False, True]]

data_enriched_df['rpi_diff'] = data_enriched_df['wrpi'] - data_enriched_df['lrpi']
data_enriched_df['bpi_diff'] = data_enriched_df['wbpi'] - data_enriched_df['lbpi']
data_enriched_df['point_diff'] = data_enriched_df['wpoints'] - data_enriched_df['lpoints']
data_enriched_df['steal_diff'] = data_enriched_df['wstl'] - data_enriched_df['lstl']
data_enriched_df['block_diff'] = data_enriched_df['wblk'] - data_enriched_df['lblk']
data_enriched_df['field_goal_percent_diff'] = data_enriched_df['wfgp'] - data_enriched_df['lfgp']

data_enriched_df: pd.DataFrame

data_enriched_df

,season,wteam,lteam,wscore,lscore,wwin_percent,wpoints,wfgp,wrpi,wbpi,...,wstl,lstl,wblk,lblk,rpi_diff,bpi_diff,point_diff,steal_diff,block_diff,field_goal_percent_diff
0,2011,1228,1414,79,65,0.588235,2413,0.468063,585.064307,5.584434,...,188,202,152,53,123.846979,2.815065,101,-14,99,0.049471
1,2011,1334,1414,75,51,0.482759,1879,0.433534,495.350899,-3.516143,...,129,202,53,53,34.133571,-6.285512,-433,-73,0,0.014942
2,2011,1363,1414,85,70,0.516129,2222,0.399680,501.644382,2.194052,...,167,202,73,53,40.427054,-0.575316,-90,-35,20,-0.018912
3,2011,1364,1414,71,58,0.533333,2019,0.448208,517.155066,-1.266128,...,216,202,124,53,55.937738,-4.035497,-293,14,71,0.029617
4,2011,1417,1414,74,73,0.676471,2382,0.455293,564.278778,5.805317,...,185,202,198,53,103.061450,3.035948,70,-17,145,0.036702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26581,2015,1249,1394,66,64,0.423077,1775,0.442363,459.232769,-5.129315,...,168,201,99,79,12.301171,-2.782942,-191,-33,20,0.002065
26582,2015,1372,1394,61,51,0.866667,2369,0.492736,462.215337,8.053652,...,217,201,101,79,15.283739,10.400025,403,16,22,0.052438
26583,2015,1223,1394,77,66,0.333333,1654,0.434653,445.987784,-6.058607,...,132,201,74,79,-0.943813,-3.712235,-312,-69,-5,-0.005646
26584,2015,1207,1437,78,58,0.677419,2192,0.454545,566.382266,2.224127,...,239,265,152,137,-0.941307,-11.693666,-401,-26,15,-0.015176
26585,2015,1371,1437,66,61,0.516129,2119,0.421203,537.578767,0.479172,...,185,265,127,137,-29.744807,-13.438621,-474,-80,-10,-0.048518

In [19]:
#data_enriched_df.to_csv('data_2/dataset_2.csv', index=False)
data_enriched_df.to_csv('data_2/dataset_2.csv', index=False)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
import numpy as np

In [ ]:
poly = PolynomialFeatures(degree=2, include_bias=False)

all_models = {}

In [ ]:
model = LinearRegression()

a = 'rpi_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
model = LinearRegression()

a = 'bpi_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
model = LinearRegression()

a = 'steal_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
model = LinearRegression()

a = 'point_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
model = LinearRegression()

a = 'block_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
model = LinearRegression()

a = 'field_goal_percent_diff'

test = data_enriched_df[[a, 'wwin_percent']].groupby(a).median().reset_index()
# test['rpi_diff'] = test['rpi_diff'].abs()

d = test[a].to_numpy()
poly_features = poly.fit_transform(d.reshape(-1, 1))

model.fit(poly_features, test['wwin_percent'])

all_models[a] = model

plt.xlabel(a)
plt.ylabel('Winning %')
plt.plot(d, model.predict(poly_features), c='red')
plt.scatter(d, test['wwin_percent'])
plt.show()

In [ ]:
for m in all_models:
    to_print = f'{m}: y = '
    to_print += ' + '.join(f"{j:.3e} * x^{i + 1}" for i, j in reversed(list(enumerate(all_models[m].coef_))))
    to_print += f' + {all_models[m].intercept_:.3e}'
    print(to_print)

In [ ]:
all_teams_df

In [ ]:
def predict_does_win(row: pd.Series) -> pd.Series:
    teams = row['id'].split('_')[1:]

    p = []

    team1: pd.DataFrame = all_teams_df.loc[all_teams_df['team'] == int(teams[0])]
    team1: pd.DataFrame = team1.loc[team1['season'] == 2014]
    team2: pd.DataFrame = all_teams_df.loc[all_teams_df['team'] == int(teams[1])]
    team2: pd.DataFrame = team2.loc[team2['season'] == 2014]

    if team1.empty or team2.empty:
        row['pred'] = None
        row['wteam'] = int(teams[0])
        row['lteam'] = int(teams[1])

        return row

    team1.pop('opponents')
    team1.pop('win_count')
    team1.pop('loss_count')
    team1.pop('win_percent')

    team2.pop('opponents')
    team2.pop('win_count')
    team2.pop('loss_count')
    team2.pop('win_percent')

    df = pd.Series(dtype='float64')

    df['rpi_diff'] = team1.squeeze()['rpi'] - team2.squeeze().squeeze()['rpi']
    df['bpi_diff'] = team1.squeeze()['bpi'] - team2.squeeze()['bpi']
    df['point_diff'] = team1.squeeze()['points'] - team2.squeeze()['points']
    df['steal_diff'] = team1.squeeze()['stl'] - team2.squeeze()['stl']
    df['block_diff'] = team1.squeeze()['blk'] - team2.squeeze()['blk']
    df['field_goal_percent_diff'] = team1.squeeze()['fgp'] - team2.squeeze()['fgp']

    for m in all_models:
        a = np.array([df[m]]).reshape(-1, 1)
        poly_features = poly.fit_transform(a)

        r = all_models[m].predict(poly_features)

        p.append(r if df[m] > 0 else 1 - r)

    row['pred'] = (sum(p) / len(p))[0]
    row['wteam'] = int(teams[0])
    row['lteam'] = int(teams[1])

    return row

In [ ]:
test_df = pd.read_csv('data/tourney_compact_results.csv')

test_df = test_df.loc[test_df['season'] == 2014]

test_df['id'] = '2014_' + test_df['wteam'].apply(str)+ '_' + test_df['lteam'].apply(str)

test_df: pd.DataFrame = test_df.apply(predict_does_win, axis=1)

test_df = test_df.loc[~test_df['pred'].isna()]

test_df = test_df[['id', 'pred']]

test_df

In [ ]:
def check_success(row: pd.Series) -> pd.Series:
    a = data_df.loc[data_df['wteam'] == row['wteam']]
    a = a.loc[a['lteam'] == row['lteam']]
    a = a.loc[a['season'] == 2014]

    row['pred_correct'] = a.empty

    return row

In [ ]:
b = test_df.copy()
b['pred_correct'] = b['pred'] > 0.5

In [ ]:
b

In [ ]:
sum(b['pred_correct']) / len(b)

In [ ]:
from math import log

In [ ]:
n = len(b)
log_loss = -(1 / n) * sum(j * log(i) + (1 - j) * log(1 - i) for i, j in zip(b['pred'], b['pred_correct']))
print(f'{log_loss = }')