In [1]:
import pandas as pd

In [3]:
regular_season_results_df = pd.read_csv('../data/regular_season_results.csv')
regular_season_results_df

      season  daynum  wteam  wscore  lteam  lscore wloc  numot
0          A      16    511      91    647      57    H    NaN
1          A      16    515      75    812      67    H    NaN
2          A      16    606      87    658      67    H    NaN
3          A      16    670      73    573      65    H    NaN
4          A      16    721      99    632      68    H    NaN
...      ...     ...    ...     ...    ...     ...  ...    ...
91219      S     132    592      61    640      60    N    0.0
91220      S     132    671      69    670      55    N    0.0
91221      S     132    779      65    825      61    N    0.0
91222      S     132    811      82    605      81    N    1.0
91223      S     132    830      72    577      63    N    0.0

[91224 rows x 8 columns]

      id            name
0    501     Abilene Chr
1    502       Air Force
2    503           Akron
3    504         Alabama
4    505     Alabama A&M
..   ...             ...
351  852         Wyoming
352  853          Xavier
353  854            Yale
354  855   Youngstown St
355  856  Incarnate Word

[356 rows x 2 columns]